<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 
			자동으로 매핑하도록 함 -->
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
	<!-- 타입 별칭은 자바 타입에 대한 짧은 이름이다. 오직 XML 설정에서만 사용되며, 타이핑을 줄이기 위해 존재한다 -->
	<typeAliases>
		<typeAlias type="kr.co.sunnyside.main.service.LHJ_MainImageVO" alias="MainImage" />
		<typeAlias type="kr.co.sunnyside.review.service.LHJ_ReviewVO" alias="Review" />
		<typeAlias type="kr.co.sunnyside.movie.service.LHJ_BoxofficeVO" alias="Boxoffice" />
		<typeAlias type="kr.co.sunnyside.movie.service.LHJ_MovieVO" alias="Movie" />
		<typeAlias type="kr.co.sunnyside.code.service.CodeVO" alias="Code" />
		<typeAlias type="kr.co.sunnyside.cmn.SearchVO" alias="Search" />
		
		<!-- LGS -->
		<typeAlias type="kr.co.sunnyside.reservation.service.LGS_TicketVO" alias="TicketVO"/>
		<typeAlias type="kr.co.sunnyside.branchinfo.service.LGS_BranchInfoVO" alias="BranchInfo"/>
		<typeAlias type="kr.co.sunnyside.room.service.LGS_RoomVO" alias="Room"/>
		<typeAlias type="kr.co.sunnyside.seat.service.LGS_SeatVO" alias="Seat"/>
		<typeAlias type="kr.co.sunnyside.screeninfo.service.LGS_ScreenInfoVO" alias="ScreenInfo"/>
		
		<!-- SJH -->
		<typeAlias type="kr.co.sunnyside.login.service.SJH_LoginVO" alias="SJH_LoginVO"/>
		<typeAlias type="kr.co.sunnyside.usermypage.service.SJH_MypageVO" alias="SJH_MypageVO"/>
		<typeAlias type="kr.co.sunnyside.coupon.service.SJH_CouponVO" alias="SJH_CouponVO" />
		
		<!-- SEJ -->
		<typeAlias type="kr.co.sunnyside.store.service.SEJ_StroreVO" alias="Store" />
		<typeAlias type="kr.co.sunnyside.phototicket.service.SEJ_PhotoTicketVO" alias="SEJ_PhotoTicketVO" />
		<typeAlias type="kr.co.sunnyside.store.service.SEJ_CartVO" alias="Cart" />
		<typeAlias type="kr.co.sunnyside.store.service.SEJ_PayVO" alias="Pay"/>
	
		<!-- KDY -->
		<typeAlias type="kr.co.sunnyside.userpage.service.KDY_MoviehistoryVO" alias="KDY_MoviehistoryVO" />
		<typeAlias type="kr.co.sunnyside.userpage.service.listSearchVO" alias="listSearchVO" />
		<typeAlias type="kr.co.sunnyside.userpage.service.KDY_CouponVO" alias="KDY_CouponVO" />
		<typeAlias type="kr.co.sunnyside.userpage.service.KDY_UserinfoVO" alias="KDY_UserinfoVO" />
		<typeAlias type="kr.co.sunnyside.userpage.service.KDY_QnalistVO" alias="KDY_QnalistVO" />
		<typeAlias type="kr.co.sunnyside.userpage.service.KDY_ReservationVO" alias="KDY_ReservationVO" />
		
		<!-- KYM -->
		<typeAlias type="kr.co.sunnyside.cmn.SearchVO" alias="SearchVO" />
		<typeAlias type="kr.co.sunnyside.qna.service.KYMQnaVO" alias="KYMQnaVO" />
		<typeAlias type="kr.co.sunnyside.code.service.CodeVO" alias="CodeVO" />
		<typeAlias type="kr.co.sunnyside.notice.service.KYMNoticeVO" alias="KYMNoticeVO" />
		<typeAlias type="kr.co.sunnyside.notice.service.KYMBranchVO" alias="KYMBranchVO" />
		
	</typeAliases>


</configuration>  
  