<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 전통적인 데이터베이스 칼럼명 형태인 A_COLUMN을 CamelCase형태의 자바 프로퍼티명 형태인 aColumn으로 
			자동으로 매핑하도록 함 -->
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>
	<!-- 타입 별칭은 자바 타입에 대한 짧은 이름이다. 오직 XML 설정에서만 사용되며, 타이핑을 줄이기 위해 존재한다 -->
	<typeAliases>
		<typeAlias type="kr.co.sunnyside.code.service.CodeVO" alias="Code" />
		<typeAlias type="kr.co.sunnyside.cmn.SearchVO" alias="Search" />
		<typeAlias type="kr.co.sunnyside.store.service.SEJ_StroreVO" alias="Store" />
		
		<typeAlias type="kr.co.sunnyside.reservation.service.LGS_TicketVO" alias="TicketVO"/>
		<typeAlias type="kr.co.sunnyside.branchinfo.service.LGS_BranchInfoVO" alias="BranchInfo"/>
		<typeAlias type="kr.co.sunnyside.room.service.LGS_RoomVO" alias="Room"/>
		<typeAlias type="kr.co.sunnyside.seat.service.LGS_SeatVO" alias="Seat"/>
		<typeAlias type="kr.co.sunnyside.screeninfo.service.LGS_ScreenInfoVO" alias="ScreenInfo"/>
	</typeAliases>


</configuration>  
  