@charset "UTF-8";
h4,ul{
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}
h4 {
	color: #303030;
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    overflow-y: scroll;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
}
}